---
import CtaButton from "@/components/ui/CtaButton.astro";
import LimitContainer from "@/components/common/LimitContainer.jsx";

const { hero } = Astro.props;
---

<section
  id="inicio"
  class="relative flex min-h-screen items-center overflow-hidden bg-surface-container-low">
  <LimitContainer className="relative z-10 ">
    <div class="w-full max-w-2xl">
      <h1
        data-hero-load="title"
        class="mb-8 font-headline text-3xl leading-[0.9] font-extrabold tracking-tighter text-primary lg:text-5xl text-balance">
        <span class="text-secondary">{hero.highlight1}</span>
        {hero.title1}
      </h1>

      <h2
        data-hero-load="title"
        class="mb-8 font-headline text-3xl leading-[0.9] font-extrabold tracking-tighter text-primary lg:text-5xl text-balance">
        <span class="text-secondary">{hero.highlight2}</span>
        {hero.title2}
      </h2>

      <h2
        data-hero-load="title"
        class="mb-8 font-headline text-3xl leading-[0.9] font-extrabold tracking-tighter text-primary lg:text-5xl text-balance">
        {hero.title3}
        <span class="text-secondary">{hero.highlight3}</span>
      </h2>

      <p
        data-hero-load="copy"
        class="mb-12 max-w-xl text-xl leading-relaxed font-light text-on-surface-variant">
        {hero.description}
      </p>

      <div data-hero-load="actions" class="flex flex-wrap gap-4">
        <CtaButton
          label={hero.primaryCta.label}
          openContactModal={true}
          variant="primary">
          <span
            class="absolute top-0 right-0 h-2 w-2 bg-secondary"
            aria-hidden="true"></span>
        </CtaButton>
        <CtaButton
          href={hero.secondaryCta.href}
          label={hero.secondaryCta.label}
          variant="ghost"
        />
      </div>
    </div>
  </LimitContainer>
  <div
    class="absolute right-10 max-lg:right-0 h-full w-1/2 max-lg:w-full max-lg:opacity-30">
    <div
      class="hero-mask relative overflow-hidden shadow-2xl w-full h-full bg-blue-900 z-1">
      <video
        src={hero.video.src}
        autoplay
        muted
        loop
        playsinline
        preload="metadata"
        aria-label={hero.video.alt}
        class="h-full w-full object-cover"
        style=" filter: brightness(100%)  grayscale(100%); opacity: 0.5;"
      ></video>

      <div class="pointer-events-none absolute inset-0 z-10 overflow-hidden">
        <div
          class="w-auto bg-white/20 border border-white/30 backdrop-blur-xs rounded-xl shadow-xl px-6 py-3 absolute text-shadow-md target-float text-white top-1/8 left-0"
          style={{ animationDelay: "-5000ms" }}>
          <span class="font-bold text-lg">Innovación</span>
        </div>
        <div
          class="w-auto bg-white/20 border border-white/30 backdrop-blur-xs rounded-xl shadow-xl px-6 py-3 absolute text-shadow-md target-float text-white top-2/8 left-0"
          style={{ animationDelay: "-10000ms" }}>
          <span class="font-bold text-lg">IA</span>
        </div>
        <div
          class="w-auto bg-white/20 border border-white/30 backdrop-blur-xs rounded-xl shadow-xl px-6 py-3 absolute text-shadow-md target-float text-white top-3/8 left-0"
          style={{ animationDelay: "-15000ms" }}>
          <span class="font-bold text-lg">Compliance</span>
        </div>
        <div
          class="w-auto bg-white/20 border border-white/30 backdrop-blur-xs rounded-xl shadow-xl px-6 py-3 absolute text-shadow-md target-float text-white top-4/8 left-0"
          style={{ animationDelay: "-20000ms" }}>
          <span class="font-bold text-lg">Procesos</span>
        </div>
        <div
          class="w-auto bg-white/20 border border-white/30 backdrop-blur-xs rounded-xl shadow-xl px-6 py-3 absolute text-shadow-md target-float text-white top-5/8 left-0"
          style={{ animationDelay: "-25000ms" }}>
          <span class="font-bold text-lg">Automatización</span>
        </div>
        <div
          class="w-auto bg-white/20 border border-white/30 backdrop-blur-xs rounded-xl shadow-xl px-6 py-3 absolute text-shadow-md target-float text-white top-6/8 left-0"
          style={{ animationDelay: "-30000ms" }}>
          <span class="font-bold text-lg">Mejora</span>
        </div>
        <div
          class="w-auto bg-white/20 border border-white/30 backdrop-blur-xs rounded-xl shadow-xl px-6 py-3 absolute text-shadow-md target-float text-white top-7/8 left-0"
          style={{ animationDelay: "-35000ms" }}>
          <span class="font-bold text-lg">Decisiones</span>
        </div>
      </div>
    </div>
    <div
      class="hero-mask absolute bottom-0 -left-6 h-full w-full bg-secondary opacity-30 z-0"
      aria-hidden="true">
    </div>
  </div>
</section>
