---
import Layout from "@/layouts/Layout.astro";
import Content from "@/content/content";
import HeroSection from "@/sections/home/HeroSection.astro";
import ArchitectureSection from "@/sections/home/ArchitectureSection.astro";
import AboutSection from "@/sections/home/AboutSection.astro";
import CapabilitiesSection from "@/sections/home/CapabilitiesSection.jsx";
import HighlightSection from "@/sections/home/HighlightSection.astro";
import PhilosophySection from "@/sections/home/PhilosophySection.astro";
import KeyAnimationsClient from "@/components/home/KeyAnimationsClient.jsx";
---

<Layout
  showHeader={false}
  showFooter={false}
  title="Rupture Technologies | Arquitectura Estratégica Digital"
  description="Soluciones de alto valor que utilizan la tecnología como catalizador para redefinir el futuro de su organización.">
  <main>
    <HeroSection hero={Content.hero} />
    <ArchitectureSection
      architecture={Content.architecture}
      theProblem={Content.theProblem}
    />
    <PhilosophySection howWeDoIt={Content.howWeDoIt} />
    <AboutSection about={Content.about} />
    <CapabilitiesSection capabilities={Content.capabilities} client:visible />
    <HighlightSection valueProposition={Content.valueProposition} />
    <KeyAnimationsClient client:load />
  </main>
</Layout>
